.ui.celled.table {
    margin-top: 200px;
}
ui.button{
    margin-top: 500px;
}
.form-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically if needed */
    margin: 0 auto; /* Center the form in its parent */
    margin-top: 300px;
}

.field {
    
    margin: 10px 0; /* Add some space between fields */
    width: 100%; /* Ensure fields take full width */
    max-width: 400px; /* Set a max width for the fields */
}

